<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Enter your information</h1>
  <hr>
  <form action="" method="post">
    <div>
      <label for="accNumber"> Account Number : </label>
      <input type="number" name="accNumber" id="accNumber" placeholder="16 digits account number">
    </div>
    <button type="submit">Submit </button>
  </form>
</body>
<a href="https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation">mozilla form validations</a>
</html>